<div class="container">
    <form action="/add" method="POST">
    <div class="add-expenses"></div>
    </form>


    <form action="/add/category/{{categoryId}}" method="GET">

    </form>

   
        
        <form action="/add" method="GET">

         <div class="expenses-list">
            <ul>
                <li>

                </li>
            </ul>
         </div>

        </form>
  
</div>

<nav><a href="/"></a></nav>